// Stil dosyanız (örneğin styles.scss)
.center {
  text-align: center;
}

#navbar {
  width: 100%;
  background-color: #fff;
  color: #fff;
  padding: 20px 0;
  position: relative;
  z-index: 1000;
  transition: top 0.3s ease;
}

#navbar.hidden {
  top: -100px;
}

nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
}
#my-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  margin: 0 20px;
  position: relative;
  transition: all .5s;
  text-shadow: 0xp 4px #949494;

  &:hover {
    color: #555;
  }

  &:hover::after {
    width: 100%;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #FF7B29;
    height: 2px;
  }

  &.stroke:hover::after {
    width: 100%;
  }

  &.fill::after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }

  &.fill:hover {
    color: #FF7B29;
    z-index: 1;
  }

  &.fill:hover::after {
    z-index: -10;
    animation: fill 1s forwards;
  }

  @keyframes fill {
    100% {
      width: 100%;
    }
  }
}
.naw-row {
  display: flex;
  align-items: center;
}

.page-name {
  margin: 0px 70px 0px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
}

.orange-dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: orange;
  border-radius: 50%;
}

.button-navbar {
  margin-left: 80px;
  margin-bottom: 20px;
  color: #FAFAFA;
  background-color: #FF7B29;
  border: #FF7B29 solid 1px;
  width: 150px;
  height: 43px;
  border-radius: 10px;
}